.card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: #1b1b1b;
	padding: 10px;
	gap: 10px;
}

.card__image {
	overflow: hidden;
}

.card__image img {
	width: 100%;
	display: block;
}

.card__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 0.9rem;
	font-weight: 300;
}

.content__title {
	font-size: 0.9rem;
	font-weight: 300;
}

.content__year {
	font-size: 1rem;
}
